* {
	box-sizing: border-box;
}
body {
	margin: 0px !important;
	padding: 0px !important;
}
section {
	padding:100px 20px;
	
	> div {
		margin:0 auto;
		width:100%;
		max-width:1300px;
	}
	
	&:first-child { background-color: #FFF; }
	&:nth-child(2) { background-color: #000;}
	&:nth-child(3) {background-color: blueviolet; }
	&:nth-child(4) { background-color: #000;}
	&:nth-child(5)  {background-color: blueviolet; }
	&:nth-child(6) { background-color: #000;}
	&:nth-child(7)  {background-color: blueviolet; }
	&:nth-child(8) { background-color: #000;}
	&:nth-child(9)  {background-color: blueviolet; }
}

  
@import '../blocks/CalltoAction/call_to_action';
@import '../blocks/Text Intro and Three Cells/textintrocells';

@import '../blocks/Map Strip/mapstrip';
@import '../blocks/Gallery/gallery';
@import '../blocks/Cards/cards';  
@import '../blocks/Fifty Fifty/fiftyfifty';
@import '../blocks/Hero/hero';

@import '../bits/custom i tag/itags';
@import '../bits/testimonial_piece/testimonial_piece';
@import '../bits/buttons/buttons';
 