* {
  box-sizing: border-box;
}

body {
  margin: 0px !important;
  padding: 0px !important;
}

section {
  padding: 100px 20px;
}
section > div {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}
section:first-child {
  background-color: blueviolet;
}
section:nth-child(2) {
  background-color: #000;
}
section:nth-child(3) {
  background-color: blueviolet;
}
section:nth-child(4) {
  background-color: #000;
}
section:nth-child(5) {
  background-color: blueviolet;
}
section:nth-child(6) {
  background-color: #000;
}
section:nth-child(7) {
  background-color: blueviolet;
}
section:nth-child(8) {
  background-color: #000;
}
section:nth-child(9) {
  background-color: blueviolet;
}

/* Call to Action */
section.calltoaction {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.calltoaction .ctoa_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #FFF;
  text-align: center;
}
section.calltoaction .ctoa_container h1 {
  margin: 0;
}
section.calltoaction .ctoa_container p {
  margin: 0;
}
section.calltoaction .ctoa_container a {
  margin: 0;
  display: inline-block;
  border: 1px solid #FFF;
  padding: 15px 30px;
  text-decoration: none;
  transition: all 1s;
  color: inherit;
}
section.calltoaction .ctoa_container a:hover {
  background-color: #000;
}
section.calltoaction .ctoa_container h1, section.calltoaction .ctoa_container p {
  margin-bottom: 20px;
}

/* Testimonials */
section.textintrocells .textintrocells_container {
  display: grid;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(20px, auto) minmax(20px, auto) minmax(20px, auto) minmax(20px, auto);
  grid-template-areas: "introarea" "cell_one" "cell_two" "cell_three";
}
@media only screen and (min-width: 500px) {
  section.textintrocells .textintrocells_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(20px, auto) minmax(20px, auto) minmax(20px, auto);
    grid-template-areas: "introarea introarea" "cell_one cell_two" "cell_three cell_three";
  }
}
@media only screen and (min-width: 1000px) {
  section.textintrocells .textintrocells_container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(20px, auto) minmax(20px, auto);
    grid-template-areas: "introarea introarea introarea" "cell_one cell_two cell_three";
  }
}
section.textintrocells .textintrocells_container .introarea {
  grid-area: introarea;
  background-color: palevioletred;
}
section.textintrocells .textintrocells_container .cell_one {
  grid-area: cell_one;
  background-color: palegoldenrod;
}
section.textintrocells .textintrocells_container .cell_two {
  grid-area: cell_two;
  background-color: paleturquoise;
}
section.textintrocells .textintrocells_container .cell_three {
  grid-area: cell_three;
  background-color: palegreen;
}
section.textintrocells .textintrocells_container .cell_one, section.textintrocells .textintrocells_container .cell_two, section.textintrocells .textintrocells_container .cell_three {
  padding: 20px 20px 20px 0;
  color: #FFF;
}
section.textintrocells .textintrocells_container .cell_one blockquote, section.textintrocells .textintrocells_container .cell_two blockquote, section.textintrocells .textintrocells_container .cell_three blockquote {
  margin: 0;
  padding: 0;
}
section.textintrocells .textintrocells_container .cell_one p, section.textintrocells .textintrocells_container .cell_two p, section.textintrocells .textintrocells_container .cell_three p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}
section.textintrocells .textintrocells_container .cell_one p small, section.textintrocells .textintrocells_container .cell_two p small, section.textintrocells .textintrocells_container .cell_three p small {
  display: block;
}

/* Map Strip */
section.mapstrip {
  padding: 0 !important;
  height: 500px;
}
@media only screen and (min-width: 600px) {
  section.mapstrip {
    height: 300px;
  }
}
@media only screen and (min-width: 800px) {
  section.mapstrip {
    height: 400px;
  }
}
@media only screen and (min-width: 1200px) {
  section.mapstrip {
    height: 300px;
  }
}

section.gallery .gallery_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media only screen and (min-width: 478px) {
  section.gallery .gallery_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  section.gallery .gallery_container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1000px) {
  section.gallery .gallery_container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  section.gallery .gallery_container {
    grid-template-columns: repeat(6, 1fr);
  }
}
section.gallery .gallery_container > div {
  aspect-ratio: 1/1;
  border: 2px solid #FFF;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  flex-direction: column;
  /* Modal Content */
}
.modal .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 50px 1.7fr 50px;
  grid-template-rows: minmax(20px, 400px);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "prevbutton mainslide nextbutton";
}
.modal .modal-content .mainslide {
  grid-area: mainslide;
  text-align: center;
}
.modal .modal-content .mainslide .mySlides {
  text-align: center;
  margin: auto;
  width: auto;
  height: 400px;
  overflow: hidden;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  flex-direction: column;
}
.modal .modal-content .mainslide .mySlides img {
  width: auto;
  height: auto;
  max-height: 400px;
  display: block;
}
.modal .modal-content .thumbnailslides {
  grid-area: thumbnailslides;
}
.modal .modal-content .prevbutton {
  position: relative;
  grid-area: prevbutton;
}
.modal .modal-content .nextbutton {
  position: relative;
  grid-area: nextbutton;
}
.modal .modal-content .prevbutton, .modal .modal-content .nextbutton {
  /* Position the "next button" to the right */
}
.modal .modal-content .prevbutton .prev, .modal .modal-content .prevbutton .next, .modal .modal-content .nextbutton .prev, .modal .modal-content .nextbutton .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.modal .modal-content .prevbutton .prev:hover, .modal .modal-content .prevbutton .next:hover, .modal .modal-content .nextbutton .prev:hover, .modal .modal-content .nextbutton .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.modal .modal-content .prevbutton .next, .modal .modal-content .nextbutton .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

section.cards .cards_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media only screen and (min-width: 478px) {
  section.cards .cards_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  section.cards .cards_container {
    grid-template-columns: repeat(4, 1fr);
  }
}
section.cards .cards_container > div, section.cards .cards_container > a {
  aspect-ratio: 1/1;
  border: 2px solid #FFF;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 1s;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1000px inset;
}
section.cards .cards_container > div .titlebar, section.cards .cards_container > a .titlebar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  color: #000;
  padding: 20px;
  transition: all 1s;
}
section.cards .cards_container > div:hover, section.cards .cards_container > a:hover {
  cursor: pointer;
}
section.cards .cards_container > div:hover .titlebar, section.cards .cards_container > a:hover .titlebar {
  background-color: #000;
  color: #FFF;
}

/* Testimonials */
section.fiftyfifty .fiftyfifty_container {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(20px, auto) minmax(20px, auto);
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas: "imageblock" "textblock";
}
section.fiftyfifty .fiftyfifty_container.rev {
  grid-template-areas: "textblock" "imageblock";
}
@media only screen and (min-width: 700px) {
  section.fiftyfifty .fiftyfifty_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(20px, auto);
    grid-template-areas: "imageblock textblock";
  }
  section.fiftyfifty .fiftyfifty_container.rev {
    grid-template-areas: "imageblock textblock";
  }
  section.fiftyfifty .fiftyfifty_container.ti {
    grid-template-areas: "textblock imageblock";
  }
}
section.fiftyfifty .fiftyfifty_container .imageblock {
  grid-area: imageblock;
  background-color: yellow;
  text-align: center;
}
section.fiftyfifty .fiftyfifty_container .imageblock img {
  margin: auto;
  height: auto;
  width: 90%;
}
section.fiftyfifty .fiftyfifty_container .textblock {
  grid-area: textblock;
  background-color: yellow;
}

.testimonial_temp_holder {
  margin: 100px;
  background-color: palegoldenrod;
  width: 400px;
  padding: 24px 10px 0;
}
.testimonial_temp_holder .testimonial {
  margin-top: 0px;
  padding: 25px;
  background-color: #FFF;
  border: 1px solid #000;
}
.testimonial_temp_holder .testimonial span.symb {
  font-size: 50px;
  margin: -50px -15px 20px;
  color: hotpink;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M0 216C0 149.7 53.7 96 120 96h8 32v64H128h-8c-30.9 0-56 25.1-56 56v8H192V416H0V320 224v-8zm256 0c0-66.3 53.7-120 120-120h8 32v64H384h-8c-30.9 0-56 25.1-56 56v8H448V416H256V320 224v-8z'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  aspect-ratio: 1/1;
  display: block;
}
.testimonial_temp_holder .testimonial blockquote {
  margin: 0px 0 0;
  padding: 0;
}
.testimonial_temp_holder .testimonial .person {
  margin-top: 45px;
  background-color: honeydew;
  display: grid;
  grid-template-columns: 45px 1fr;
  grid-template-rows: minmax(20px, auto) minmax(20px, auto);
  gap: 0px 10px;
  grid-auto-flow: row;
  grid-template-areas: "image pname" "image pstars";
}
.testimonial_temp_holder .testimonial .person .image {
  grid-area: image;
}
.testimonial_temp_holder .testimonial .person .image .p_image {
  width: 40px;
  border-radius: 50%;
  border: 1px solid darkblue;
  aspect-ratio: 1/1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkblue;
}
.testimonial_temp_holder .testimonial .person .pname {
  grid-area: pname;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
.testimonial_temp_holder .testimonial .person .pstars {
  grid-area: pstars;
}
.testimonial_temp_holder .testimonial .person .pstars .star {
  display: inline-block;
  width: 20px;
  aspect-ratio: 1/1;
  color: #ffd600;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23ffd600' d='M288.1 0l86.5 164 182.7 31.6L428 328.5 454.4 512 288.1 430.2 121.7 512l26.4-183.5L18.9 195.6 201.5 164 288.1 0z'/%3E%3C/svg%3E");
}

.temp_button {
  margin: 100px;
}
.temp_button .btn {
  font-family: Arial;
  border-radius: 0px;
  color: #1f628d;
  font-size: 16px;
  padding: 12px 25px 12px 25px;
  border: solid #1f628d 1px;
  text-decoration: none;
  transition: all 1s;
}
.temp_button .btn:hover {
  color: #FFF;
  background: #1f628d;
  border: solid #1a4c6d 1px;
  text-decoration: none;
}
