
.testimonial_temp_holder {
	margin:100px;
	background-color:palegoldenrod;
	width:400px;
	min-height:300px;
	padding:24px 10px 0;
	
}

.testimonial_data {
	margin-top:0px; 
	padding:25px;
	background-color:#FFF;
	border:1px solid #000;
	height:100%;
	
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;

	flex-direction: column;
	
	
	span.symb {
		
		font-size:50px;
		margin :-50px -15px 20px;
		color:hotpink;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23b82881' d='M0 216C0 149.7 53.7 96 120 96h8 32v64H128h-8c-30.9 0-56 25.1-56 56v8H192V416H0V320 224v-8zm256 0c0-66.3 53.7-120 120-120h8 32v64H384h-8c-30.9 0-56 25.1-56 56v8H448V416H256V320 224v-8z'/%3E%3C/svg%3E");
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		width:50px;
		aspect-ratio:1/1;
		display:block;
	}
	blockquote {
		background-color:grey;
		margin:0px 0 0;
		padding:0 0 20px;
		flex: 1 1 100%
	}
		
	.person {
		//margin-top:45px;
		background-color:honeydew;
		
		display: grid;
		  grid-template-columns: 55px 1fr;
		  grid-template-rows: minmax(20px, auto) minmax(20px, auto);
		  gap: 0px 10px;
		  grid-auto-flow: row;
		  grid-template-areas:
			"image pname"
			"image pstars";
			
		  .image {
			  grid-area: image;
			  .p_image {
						width:50px;
						border-radius:50%;
						border:1px solid darkblue;
						aspect-ratio: 1/1; 
						background-position:center center;
						background-repeat:no-repeat;
						background-size:cover;
						background-color: darkblue;
						display: flex;
						flex-wrap: nowrap;
						justify-content: center;
						align-items: center;
						align-content: center;
						overflow: auto;
						flex-direction: column;
						color:#FFF;
						font-size:22px;
						
						&.purp  {
							border:1px solid rgb(54, 2, 54);
							background-color:purple;
						}
						&.deepblue {
							border:1px solid rgb(3, 3, 82);
							background-color:darkblue;
						}
			  }
		  }
		  .pname {
			  grid-area: pname;
			  font-weight:bold;
			  display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: flex-start;
			align-content: center;
		  }
		  .pstars {
			  grid-area: pstars;
			  
			  .star {
				  display:inline-block;
				  width:20px;
				  aspect-ratio: 1/1; 
				  color:#ffd600;
				  background-position:center center;
				  background-repeat:no-repeat;
				  background-size:cover;
				  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23ffd600' d='M288.1 0l86.5 164 182.7 31.6L428 328.5 454.4 512 288.1 430.2 121.7 512l26.4-183.5L18.9 195.6 201.5 164 288.1 0z'/%3E%3C/svg%3E");
			  }
		  }
	}
}
